/* [[  UNIVERSAL  ]] */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    color: white;
    background-color: white;
}

section:nth-of-type(1) {
    color: #fff;
    height: calc(100vh + 53px);
    padding: 0 10px;
} 

/* [[ WELCOME PAGE ]]  */

.welcome {
    padding: 20px;
    background-color: #2a607c;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 0;
    top: 0;
    position: static;
    height:100vh;
    Width:100vw;
}

.welcome h2 .edwin-fame {
    color: plum;
}

/* Image full stretch  -  To be modified later
.welcomeimg {
    left: 0;
    top: 0;
    position: absolute;
    height:100%;
    Width:100vw; 
} */

/* [[ Navigation Bar ]] */

.navbar {
    position: sticky;
    background-color: black;
    justify-content:space-around;
}

.navbar div {
    position: relative;
    justify-content:space-around;
    align-items:center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.navbar div ul {
    list-style-type:none;
}

.navbar div ul li {
    display: inline-block;

}