/* [[  UNIVERSAL  ]] */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.overflow-wrap > *{
    display: flex;
    flex-direction: column;
}

body {
    color: white;
    background-color: white;
}

/* [[ WELCOME PAGE ]]  */

.welcome {
    text-align:center;
    padding: 20px;
    background-color: #2a607c;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 0;
    top: 0;
    position: static;
    height:100vh;
    Width:100vw;
    justify-content: center;
    align-items: center;
}

.welcome h2 .edwin{
    color: plum;
}

.welcome a {
    font-size: 1rem;
    font-family:monospace;
    color:white;
    border-style:solid;
    border-color:white;
    border-width:1px;
    padding:1%;

}

/* Image full stretch  -  To be modified later
.welcomeimg {
    left: 0;
    top: 0;
    position: absolute;
    height:100%;
    Width:100vw; 
} */


/* [[ NAV BAR ]] */

.navbar {
    border-style: solid;
    border-color: teal;
    width:100vw;
    position: sticky;
    background-color: black;
}

.navbar div {
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: monospace ;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.navbar div ul {
    padding-left: 1rem;
    float: left;
    list-style-type:none;
    color: whitesmoke;
}

.navbar div ul li {
    padding-right: 1rem;
    display: inline-block;

}


/* [[ABOUT ME]]  */

.about {
    background-color: whitesmoke;
}

.about-header {
    margin-top: 10%;
    color:#565A5E;
    font-family: monospace;
    font-size: 1rem;
    text-align: Center;
    

}